

body {
    background-color:#e5a519;
    max-width: 100%;
    overflow-x: hidden;
}

.boxes {
    background-color:white;
    width:80%;
    visibility:hidden;
    border:1px solid #888888;
    position:absolute;
    left:10%;
    /*box-shadow: 0 0 10px 20px #FFFFFF;*/
    box-shadow: 10px 10px 5px #888888;
}

#box1Div {
    margin-top:-5%;
<<<<<<< HEAD
    /*height:9%;*/

=======
    height:9%;
>>>>>>> b348550a71e111e3761daeddf4b3cc5bf93bad25
    animation: animateBox1 1s forwards;
    animation-delay: 0.5s;
}

<<<<<<< HEAD

=======
>>>>>>> b348550a71e111e3761daeddf4b3cc5bf93bad25
@-webkit-keyframes animateBox1 {
    from {
        height: 0;
        margin-top: 300%;
        visibility:hidden;
    }

    to {
        height: 10%;
        margin-top: -5%;
        visibility:visible;
    }
}


#box2Div {
    margin-top:-5%;
    height:10%;
    animation: animateBox2 1s forwards;
    animation-delay: 0.5s;
}


@-webkit-keyframes animateBox2 {
    from {
        height: 0;
        margin-top: 300%;
        visibility:hidden;
    }

    to {
        height: 11%;
        margin-top: -300%;
        visibility:visible;
    }
}

#box3Div {
    margin-top:-5%;
    height:10%;
    animation: animateBox3 1s forwards;
    animation-delay: 0.5s;
}


@-webkit-keyframes animateBox3 {
    from {
        height: 0;
        margin-top: 300%;
        visibility:hidden;
    }

    to {
        height: 12%;
        margin-top: 70%;
        visibility:visible;
    }
}


#mainBox {
    background-color:white;
    width:101%;
    height:250%;
    bottom:0;
    position:absolute;
    left:-4px;
    top:30%;
    
}

#logoBox {
    width:300px;
    height:108px;
    margin-left:10%;

}

#logo {
    top:-20%;
    width:300px;
    -webkit-animation: animateLogo 0.5s;
}

#buttonsDiv {
    width:50px;
    height:250px;
    position:fixed;
    margin-left:-7%;

    
}

#mainButton {
    width:50px;
    height:50px;
    background-color:#FCC243;
    border-radius:100%;
    margin-bottom:30%;

}

.buttons {
    width:50px;
    height:50px;
    background-color:#FCC243;
    border-radius:100%;
    margin-bottom:30%;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.3);
    
}

.buttons:hover {
    z-index:99999;
    -webkit-animation: animateButtons 0.1s 1  forwards;
}

.buttonImages {
    height:30px;
    margin-top:20%;
}

#arrowDiv {
    width:130px;
    height:130px;
    background-color:navy;
    border-radius:100%;
    position:absolute;
    margin-top:75%;
    margin-left:47%;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.3)
}


#aimTitleFont {
    font-family: 'Open Sans';
<<<<<<< HEAD
<<<<<<< HEAD
    font-size:3vh;
    animation: textAnimation 3s forwards;
    opacity:0;
    animation-delay:1s;

=======
    font-size:30px;
    animation: textAnimation 3s;
>>>>>>> ce83edb4e184bf76e95b09399f4217cf13895815
=======
    font-size:30px;
    animation: textAnimation 3s;
>>>>>>> b348550a71e111e3761daeddf4b3cc5bf93bad25
}

#aimTextFont {
    font-family: 'Open Sans';
<<<<<<< HEAD
<<<<<<< HEAD

    animation: textAnimation 3s forwards;
    animation-delay:1s;
    opacity:0;
}

@media (max-width: 3px) {
    #aimTextFont {font-size:200px;}
}

=======
=======
>>>>>>> b348550a71e111e3761daeddf4b3cc5bf93bad25
    font-size:17px;
    animation: textAnimation 3s;
}


#contactTitleFont {
    font-family: 'Open Sans';
    font-size:30px;
    animation: textAnimation 3s;
}

#contactTextFont {
    font-family: 'Open Sans';
    font-size:17px;
    animation: textAnimation 3s;
}


<<<<<<< HEAD
>>>>>>> ce83edb4e184bf76e95b09399f4217cf13895815
=======
>>>>>>> b348550a71e111e3761daeddf4b3cc5bf93bad25
#aimImage {
    width:120%;
    margin-left:-15%;

}

#contactimage { 
     width:120%;
     margin-left:-15%;
     margin-top:-5%

}

#aboutUsImage {
    width:120%;
    margin-left:-15%;
    margin-top:-1%
}

#aboutUsTitleFont {
    font-family: 'Open Sans';
    font-size:30px;
}

#aboutUsTextFont {
    font-family: 'Open Sans';
    font-size:17px;
}

#productsPageFont {
    font-family: 'Open Sans';
    font-size:20px;
    color:white;
<<<<<<< HEAD
<<<<<<< HEAD
=======
    margin-top: 50%;
    
>>>>>>> ce83edb4e184bf76e95b09399f4217cf13895815
=======
    margin-top: 50%;
    
>>>>>>> b348550a71e111e3761daeddf4b3cc5bf93bad25
}

#productPageFontDiv{
    margin-top: 5%;


}

@-webkit-keyframes animateButtons {
    0% {
        width:50px;
        height:50px;
    }
    100% {
        width:70px;
        height:70px;
    }
}

<<<<<<< HEAD
=======




>>>>>>> b348550a71e111e3761daeddf4b3cc5bf93bad25
@-webkit-keyframes animateLogo {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@-moz-keyframes animateLogo {
    from {
        width:0;
    }

    to {
        width:100%;
    }
}

@keyframes animateLogo {
    from {
        width:0;
    }

    to {
        width:100%;
    }
}


@keyframes textAnimation {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}